## Git
.*
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

## Syncthing
.stfolder
.stignore
.stignorerules

## Obsidian
.obsidian
.trash

## VSCode
*.code-workspace

## Demais
_nopush
~neutrinote*
