## Syncthing
.stfolder
.stignore
.stignorerules

## Somente repo local
_nosync
_nopush
_drafts
_templates
templates

## Obsidian
.obsidian
.trash

## Demais
.*
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Playground.md
teijuan.github.io.code-workspace