/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.content-container {
  margin-bottom: 4rem;
  width: 100%;
  height: fit-content;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 90vw;
  }
}

/*
  Header
*/

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  font-family: $sans-serif-font-family;
}

.header a:hover {
  color:black;
}

.header-title a {
  font-size: 2rem;
  text-decoration: none;
  color: $body-color;
}

.header-subtitle {
  color: $light-gray-color;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: $light-gray-color;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: $light-gray-color;
  font-size: 1rem;
}

@media (max-width: $elements-responsive-width) {
  .social-icons {
    font-size: 2rem;
    float: left;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 100%;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: $light-gray-color;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: $dark-gray-color;
}

.footer-description {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}

.home-quote {
  display: block;
  color: $dark-gray-color;
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 20px;
}

.gallery-container {
  height: auto;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
  float: left;
  height: fit-content;
  a {
    text-decoration: none;
  }
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 5px;
  text-align: center;
}
