// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.artwork-list {
width: 100%;
float: left;
padding-bottom: 20px;
}

.artwork-thumbnail { //Layout da thumbnail da artwork
// display: none;
float: left;
margin: 5px;
padding: 0px;
border: 0px;
//max-width: 200px;
height: 200px;
border: #ffffff 2px solid;

//  &:hover{
//    .title-post{
//      position: fixed;
//      display: block;
//    }
//  }
}

.artwork-thumbnail img{
  max-height: 200px;
}

.title-post{
background-color: rgba(0,0,0,0.8);
font-size: 15px;
margin: 0px;
display: none;
//
//position: fixed;
//width: 100%;
//height: 100%;
//top: 0;
//left: 0;
//right: 0;
//bottom: 0;
//background-color: rgba(0,0,0,0.5);
//z-index: 2;
//cursor: pointer;
}
.artwork-img{
padding-bottom: 20px;
}

.btn-socmed{
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
margin: 4px;
margin-bottom: 10px;
font-size: 18px;
background-color: $background-color;
border-color: $text-color;
border-radius: 10px;
color: $text-color;

&:hover {
    background-color: $link-hover-color;
    color: #333333;
    cursor: pointer;
  }
}

