// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.artwork-thumbnail{ //Layout da thumbnail da artwork
// // display: none;
// width: 50%;
// float: left;
margin: 5px;
padding: 0px;
height: 200px;

&:hover{
border: 4px white double;
}
}

.artwork-img{
padding-bottom: 20px;
}

.btn-socmed{
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
margin: 4px;
margin-bottom: 10px;
font-size: 18px;
background-color: $background-color;
border-color: $text-color;
border-radius: 10px;
color: $text-color;


&:hover {
    background-color: $link-hover-color;
    color: #333333;
    cursor: pointer;
  }
}
