---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">Artwork by {{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    </p>

<!--
    {%- if page.tags -%}
    
  <span>
    <code>{{ page.tags }}</code>
  </span>
  {% endif %}
</header>
-->


  <div class="post-content e-content" itemprop="articleBody">
  {%- if page.excerpt -%}  
  <span>
    {{ page.excerpt }}
  </span>
  {%- endif -%}
  <br>
  <br>
  {%- if page.lnfa -%}<button class="btn-socmed"><a href="{{ page.lnfa }}">Furaffinity</a></button>{%- endif -%}
  {%- if page.lnda -%}<button class="btn-socmed"><a href="{{ page.lnda }}">Deviantart</a></button>{%- endif -%}
  {%- if page.lntt -%}<button class="btn-socmed"><a href="{{ page.lntt }}">Twitter</a></button>{%- endif -%}
  {%- if page.lnig -%}<button class="btn-socmed"><a href="{{ page.lnig }}">Instagram</a></button>{%- endif -%}
  {%- if page.lnit -%}<button class="btn-socmed"><a href="{{ page.lnit }}">Itaku</a></button>{%- endif -%}
  {%- if page.lnfb -%}<button class="btn-socmed"><a href="{{ page.lnfb }}">Facebook</a></button>{%- endif -%}
  {%- if page.lnib -%}<button class="btn-socmed"><a href="{{ page.lnib }}">Inkbunny</a></button>{%- endif -%}
  <br>

<!--  
  {%- if page.____ -%}<button><a href="{{ page.____ }}">____</a></button>{%- endif -%}
-->



  <img class="artwork-thumbnail" src="{{ page.source }}" alt="not found">
  {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}



  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
