---
layout: default
---

<h1>
  {{ page.title }}
</h1>
{% assign img = page.image %}
{% for item in img %}
<img style="float: left;padding: 10px;padding-right: 20px; width: 200px" src="{{ site.github.url }}{{ item }}">
{% endfor %}

{% if site.hide_post_date != true %}
{% include post-date.html %}
{% endif %}

<blockquote style="margin-top: 10px;margin-bottom: 10px">{{ page.excerpt }}</blockquote>

<article style="padding-top: 100px;">
  {{ content }}
</article>

{% if site.hide_post_share != true %}
  {% include social-sharing.html %}
{% endif %}
{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
